{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

    <section class="connexion" >
    	<h1>Connexion</h1>
    	<form>
    		<ul>
        		<li>
                <input type="text" name="pseudo" id="pseudo" size="30" placeholder="Pseudo" />
            	</li>

            	<li>
                <input type="password" name="pass" id="pass" size="30" placeholder="Mot de passe"/>
            	</li>
        		
        		<li>
                <input type="submit" value="Connexion" />
            	</li>
            </ul>
    	</form>
    </section>

{% endblock %}