{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}


    <section class="connexion inscription" >
	<h1>Inscription</h1>
	<form>
		
		<ul>
        <li>    
            <label for="pseudo"><i data-icon="7"></i></label>
            <input type="text" name="pseudo" id="pseudo"   placeholder="Pseudo"/>
            <div>
                <p class="pseudo-vide" data-icon="v">Ce pseudo semble incorrect.</p>
                <p class="pseudo-utilise" data-icon="v">Ce pseudo a déjà été utilisé.</p>
            </div>
    	</li>

        <li>
            <label for="email"><i data-icon="s"></i></label>
            <input type="email"  name ="email" id="email" placeholder="Email"/>
            <div>
                <p class="mail-incorrect" data-icon="v">Ce mail semble incorrect.</p>
            </div>
        </li>

    	<li>
            <label for="pass"><i data-icon="r"></i></label>
            <input type="password" name="pass" id="pass" placeholder="Mot de passe"/>
            <div>
                <p class="mdp-vide" data-icon="v">Ce mot de passe semble vide.</p>
            </div>
    	</li>

    	<li>
            <label for="confirm-pass"><i data-icon="r"></i></label>
            <input type="password" name="pass" id="confirm-pass" placeholder="Confirmation mot de passe"/>
            <div>
                <p class="mdp-error" data-icon="v">Mot de passe non identique</p>
            </div>
    	</li>



        <li>
    	<label for="captcha">Captcha : "<?php echo captcha(5); ?>"</label>
        </li>

        <li>
        <input type="submit" value="Inscription" />
        </li>

    <ul>
	</form>

</section>

{% endblock %}