{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}


    <section class="connexion inscription" >
	<h1>Créer son compte :</h1>
	<form>
		
		<ul>
        <li>    
          <i data-icon="7"></i> 
          <input type="text" name="pseudo" id="pseudo"   placeholder="Pseudo"/>
    	</li>

    	<li>
         <i data-icon="r"></i>
         <input type="password" name="pass" id="pass" placeholder="Mot de passe :"/>
    	</li>

    	<li>
         <i data-icon="r"></i>
         <input type="password" name="pass" id="pass" placeholder="Confirmation mot de passe :"/>
    	</li>

		<li>
         <i data-icon="s"></i>
         <input type="email"  placeholder="Pseudo"/>
    	</li>

        <li>
    	<label for="captcha">Captcha : "<?php echo captcha(5); ?>"</label>
        </li>

        <li>
        <input type="submit" value="Inscription" />
        </li>

    <ul>
	</form>

</section>

{% endblock %}