{% extends 'MeowBundle::layout.html.twig' %}

{% block content %}

	<p>Ajoutez un spoil :</p>
	<form> 

		<p>
        	<label for="pseudo">Manga :</label>
        	<input type="text" name="manga" id="manga" size="20" />
    	</p>

    	<p>
        	<label for="pseudo">Type de manga :</label>
        	<input type="text" name="type" id="type" size="20" />
    	</p>

    	<p>
        	<label for="titre">Titre :</label>
        	<input type="text" name="titre" id="titre"/>
    	</p>

    	<p>
    		<input type="hidden" name="MAX_FILE_SIZE" value="100000">
        	<label for="pseudo">Image :</label>
        	<input type="file" name="img">
    	</p>

		<p>
        	<label for="pseudo">Spoil :</label>
       		<textarea name="ameliorer" id="ameliorer"></textarea>
    	</p>



		<p>
        	<input type="submit" value="Ajouter" />
        </p>

	</form>

{% endblock %}