<div>
	<nav>
		<h1 data-icon="m">Ajouter un spoil</h1>
		<form>
			<input type="BUTTON" value="Fermer" onclick="window.close()">
		</form>
	</nav>

	<section>

		<p>Connectez-vous pour poster un spoil</p>
		
		<article>
			<form>
	    		<ul>
	        		<li>
	                <label for="pseudo"><i data-icon="7"></i></label> 
	                <input type="text" name="pseudo" id="pseudo" size="30" placeholder="Pseudo" />
	                </li>

	            	<li>
	                <label for="pass"><i data-icon="r"></i></label>    
	                <input type="password" name="pass" id="pass" size="30" placeholder="Mot de passe"/>
	            	</li>
	        		
	        		<li>
	                <input type="submit" value="Connexion"/>
	            	</li>
	            </ul>
	    	</form>
	        <p class="connexion-error" data-icon="v">Le pseudo ou le mot de passe est incorrect</p>
		</article>

		<p>Nouveau sur Nyan Spoil ? <a href="{{ urlBase }}inscription/">Inscrivez-vous!»</a></p>
		
	</section>

</div>