.articles {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	padding: 0 5%;
}

.articles h2 {
	margin: 0;
	padding: 40px 0 0 0;
}


.articles figure {
	max-width: 600px;
	margin: 0 auto;
}

.articles figure .bloc-image {
	border-left: 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	line-height: 0;
}

.articles img {
	width: 100%;
}

.articles h3 {
	font-family :"Antonio";
	width: 100%;
	background: #212830;
	margin: 0;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 2.2rem;
}

.articles .infos-spoiler p {
	max-width: 600px;
	color: #5b5b5b;
	margin: 8px auto;
}

.articles .infos-spoiler p:before {
	position: relative;
	top: 2px;
	color: #212830;
	margin-right: 5px
}

.articles .infos-spoiler p a {
	color: #212830;
}

.articles .infos-spoiler p span {
	font-size: 1.3rem;
	color: #acacac;
}

.articles .boutons-avis {
	width: 600px;
	margin: 0 auto;
}

.articles .boutons-avis li { 
	background: #304257;
	display: inline-block;
	font-family: 'Antonio-Regular'; 
    border-radius: 4px;
    width: 20%;
    color: #fff;
    padding: 11px 7px 6px 0;
    position: relative;
    margin: 0 4%;
    text-align: center;
}
.articles .boutons-avis li span {
	background:#e65354;
	border-radius: 0px 4px 4px 0; 
	color: #fff;
	padding: 12px 9px 5px;
	position: absolute;
    right: 0;
    top: 0;
}