.articles {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	border-left: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	padding: 0 5%;
}

.articles h2 {
	margin: 0;
	padding: 40px 0 0 0;
}


.articles figure {
	max-width: 600px;
	margin: 0 auto;
}

.articles figure .bloc-image {
	border-left: 1px solid #d0d0d0;
	border-top: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	line-height: 0;
}

.articles img {
	width: 100%;
}

.articles h3 {
	font-family :"Antonio";
	width: 100%;
	background: #212830;
	margin: 0;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 2.2rem;
}

.articles .infos-spoiler p {
	max-width: 600px;
	color: #5b5b5b;
	margin: 8px auto;
}

.articles p:before {
	position: relative;
	top: 4px;
	color: #212830;
	margin-right: 5px
}


.articles .infos-spoiler p a {
	color: #212830;
}

.articles .infos-spoiler p span {
	font-size: 1.3rem;
	color: #acacac;
}

.articles .boutons-avis {
	max-width: 600px;
	margin: 0 auto;
}

.articles .boutons-avis ul {
	padding-left: 0;
	text-align: center;
	margin-top: 30px;
}

.articles .boutons-avis li { 
	background: #304257;
	display: block;
	font-family: 'Antonio-Regular'; 
    border-radius: 4px;
    width: 115px;
    color: #fff;
    padding: 13px 7px 8px 0;
    position: relative;
    margin: 13px auto;
	width: 200px;
    text-align: center;
}


@media only screen and (min-width: 490px) {
	.articles .boutons-avis ul li {
		display: inline-block;
		margin: 0 4%;
		width: 115px;
	}
}

.articles .boutons-avis li span {
	background:#e65354;
	border-radius: 0px 4px 4px 0; 
	color: #fff;
	padding: 13px 9px 8px;
	position: absolute;
    right: 0;
    top: 0;
}

.articles p.nb-commentaire {
	font-family: "Open sans";
	font-weight: bold;
	margin-top: 50px;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 15px;
}

.articles .connexion-comm ul {
	padding: 0;

}

.articles .connexion-comm ul li {
	display: block;
	margin-right: 15px;
}

.articles .connexion-comm label i { 
    display: inline-block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    font-style: inherit;
    background: #212830;
    color: #fff;
}

.articles .connexion-comm input[type=text], .articles .connexion-comm input[type=password] {
	height: 35px;
	padding: 0 40px;
	width: 100%;
	background: #e6e6e6;
	border: 0;
}

.articles .connexion-comm label i:before {
	position: absolute;
	top: 18px;
	left: 8px;
}

.connexion-comm .connexion-error {
	position: relative;
	bottom: 0;
}

.articles .ajout-commentaire {
	position: relative;
}


.articles .ajout-commentaire a {
	float: left;
	position: absolute;
	display: block;
	width: 65px;
	height: 65px;
}

.articles .ajout-commentaire textarea {
	float: right;
	height: 65px;
	width: 80%;
	margin-left: 80px;
	padding: 7px;
	resize: none;
}


.articles .ajout-commentaire input[type=submit] {
	float: right;
	margin-top: 20px;
}



@media only screen and (min-width: 600px) {
	.articles .ajout-commentaire textarea {
		width: 85%;
	}
}

@media only screen and (min-width: 768px) {
	.articles .ajout-commentaire textarea {
		width: 90%;
	}
}

@media only screen and (min-width: 1000px) {
	.articles .ajout-commentaire textarea {
		width: 91%;
	}
}


.articles ul {
	padding: 0;
	margin: 0;
}

.articles .commentaires {
	position: relative;
}



.articles .commentaires a.avatar, .articles .commentaires .comm-right {
	float: left;
}

.articles .commentaires a.avatar {
	display: block;
	height: 53px;
	width: 53px;
}

.articles .commentaires .infos-comm a {
	display: block;
	font-family: "Open sans";
	font-size: 1.35rem;
	color: #212830;
	font-weight: bold;
}

.articles .commentaires a img {
	width: 100%;
}

.articles .commentaires .infos-comm {
	padding-left: 10px;
}

.infos-comm a, .infos-comm p {
	float: left;
}

.infos-comm p {
	margin: 0 0 0 10px;
	font-size: 1.3rem;
	color: #acacac;
}