.modalt{
  color: #000;
}

.modal .imp{
  color: #e65354;
  font-family: 'OpenSans-Regular';
  text-align: center;
  font-size: 13px;
}

.modal p{
  color: #000;
  text-align: center;
  font-family: 'OpenSans-Regular';
  font-size: 13px;
}

.register{
  border-bottom: 1px solid #e65354;
}

.connexion2{
position: relative;
margin: 0 auto;
margin-top: 5%;
width: 340px;
height: auto;
background-color: #fff;
padding: 0px 35px 1px 35px;
box-shadow: none;
}

.ajout li{
  padding-bottom: 20px;
}

.ajout input[type="text"]{
  display: inline-block;
  height: 35px;
  width: 200px;
  padding: 5px;
  font-size: 1.3rem;
  border: solid 1px #c0c0c0;
}

.ajout select{
  height: 35px;
  width: 200px;
  border-radius: 0;
  border: 1px solid #c0c0c0;
  background: #fff;
  font-size: 1.3rem;
}

.ajout select option {
  border-radius: 0;
}

.modal .ajout ul {
  padding-left: 15px;
  padding-right: 15px;
}

.modal .ajout{

  text-align: left;

}

.modal .amanga{

  background: #304257;
  font-family: 'Antonio-Regular';
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  padding: 8px 9px 7px;

}

.modal .amanga:hover{

  background: #253445;

}

#plus {
  background: #304257;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.modal .btn-close {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 0;
}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 4px;
  margin-left: -200px;
  position: fixed;
  left: 46%;
  top: -100%;
  z-index: 11;
  width: 490px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-dialog2 {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 4px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 500px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-body {
  padding: 20px;
}

.rules{
  background-color: #f0f0ed;
  margin-top: 0px;
  padding: 20px 15px;
  font-size: 1.3rem;
}

.modal-body2 {
  padding: 0px;
}

.modal-header{
  padding: 10px 20px;
  background-color: #212830;
}
.modal-header h2 {
  font-size: 20px;
  color: #fefefe;
  margin: 0;
}
/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

#toogle{
  display:none;
}

#file{
  opacity: 0.01;
  position: absolute;
  left: 0;
  cursor: pointer;
  padding: 10px 10px;
}

.file label{
  background-color: #e65354;
  font-family: "Antonio-Regular", sans-serif;
  color: #fff;
  border-radius: 4px;
  padding: 8px 42px;
  cursor: pointer;
  
}

.modal .ajout ul li:nth-child(4) {
  padding-bottom: 10px; 
}

.modal textarea {
  resize: none;
  width: 100%;
  height: 70px;
  border: 1px solid #c0c0c0;
  font-size: 1.3rem;
  padding: 5px;
}

.modal .ajout input[type=submit] {
  float: right;
}
