

.modal-connexion .imp{
  color: #e65354;
  font-family: 'OpenSans-Regular';
  text-align: center;
  font-size: 13px;
}

.modal-connexion p{
  color: #000;
  text-align: center;
  font-family: 'OpenSans-Regular';
  font-size: 13px;
}

.register{
  text-decoration: underline;
}

.connexion2{
position: relative;
margin: 0 auto;
margin-top: 5%;
width: 340px;
height: auto;
background-color: #fff;
padding: 0px 35px 1px 35px;
box-shadow: none;
}

.ajout li{
  padding-bottom: 20px;
}

.modal-connexion .ajout input[type="text"]{
  display: inline-block;
  height: 35px;
  width: 200px;
  padding: 5px;
  font-size: 1.3rem;
  border: solid 1px #c0c0c0;
}

.modal-connexion .ajout select{
  height: 35px;
  width: 200px;
  border-radius: 0;
  border: 1px solid #c0c0c0;
  background: #fff;
  font-size: 1.3rem;
}

.modal-connexion .ajout select option {
  border-radius: 0;
}

.modal-connexion .ajout ul {
  padding-left: 15px;
  padding-right: 15px;
}

.modal-connexion .ajout{

  text-align: left;

}

.modal-connexion .amanga{

  background: #304257;
  font-family: 'Antonio-Regular';
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  padding: 8px 9px 7px;

}

.modal-connexion .amanga:hover{

  background: #253445;

}

#plus {
  background: #304257;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

.modal-connexion .btn-close {
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 15px;
  top: 0;
}

.modal-connexion:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal-connexion:target:before {
  display: block;
}
.modal-connexion:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-connexion .modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 4px;
  margin-left: -200px;
  position: fixed;
  left: 46%;
  top: -100%;
  z-index: 11;
  width: 490px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-connexion .modal-dialog2 {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 4px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 500px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-connexion .modal-body {
  padding: 20px;
}

.modal-connexion .rules{
  background-color: #f0f0ed;
  margin-top: 0px;
  padding: 20px 15px;
  font-size: 1.3rem;
}

.modal-connexion .modal-body2 {
  padding: 0px;
}

.modal-connexion .modal-header{
  padding: 10px;
  background-color: #212830;
}
.modal-connexion .modal-header h2 {
  font-size: 20px;
  color: #fefefe;
  margin: 0;
  padding-left: 35px;
}
/*ADDED TO STOP SCROLLING TO TOP*/
.modal-connexion #close {
  display: none;
}

.modal-connexion #toogle{
  display:none;
}

.modal-connexion #spoil_form_cover{
  position: absolute;
  left: 0;
  cursor: pointer;
  padding: 10px 15px 10px 75px;
  -moz-box-padding: 10px 15px 10px 114px;
  font-size: 1.3rem;
}

.modal-connexion .file label{
  background-color: #e65354;
  font-family: "Antonio-Regular", sans-serif;
  color: #fff;
  border-radius: 4px;
  padding: 8px 42px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.modal-connexion .ajout ul li:nth-child(4) {
  padding-bottom: 10px; 
}

.modal-connexion textarea {
  resize: none;
  width: 100%;
  height: 70px;
  border: 1px solid #c0c0c0;
  font-size: 1.3rem;
  padding: 5px;
}

.modal-connexion .ajout input[type=submit] {
  float: right;
}





/* ------------------------ MODAL PHOTO ------------------------ */



.modal-photo {
  opacity:0;
  position:fixed;
  top:-100%;
  left:50%;
  background:white;
  padding:0px;
  border-radius:4px;
  box-shadow:1px 1px 1px rgba(0,0,0,.1);
  width: 430px;
  z-index: 2000;
}


.modal-photo .btn-close {
  position: absolute;
  right: 15px;
  top:0;
  color: #ffffff;
  font-size: 30px;
  text-decoration: none;  
  border:0;
  padding:0;
  background:none;
  cursor:pointer;
}

.modal-photo header {
  background: #212830;
  border-bottom:1px solid #ddd;
  padding:10px;
  border-radius: 4px 4px 0 0;
}

.modal-photo header h2 {
  font-size: 20px;
  color: #fefefe;
  margin: 0;
  padding-left: 10px;
}

.modal-photo main {
  display:block;
  padding:20px;
}

.modal-photo main p {
  margin:0;
  line-height:30px;
}

.modal-photo button.avatar-save {
  color: #fff;
  margin-top: 15px;
  float: right;
  background: #e65354;
  font-size: 1.4rem;
  font-family: "Antonio-Regular";
}

.modal-photo button.avatar-save:hover {
  background: #d73f40;
}

.modal-photo footer {
  padding:10px 0 5px;
  border-top:1px solid #ddd;
  text-align:right;
}

.modale-shadow {
  display:none;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,.7);
  z-index: 1999;
}