.moderation{
	width: 950px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 70px;
}

.moderation table, td, tr{
	border: 1px solid #000;
	margin-top: 20px;
}

.moderation img{
	width: 310px;
	height: 175px;
	vertical-align: middle;
}

.col-1{
	width: 310px;
	height: 175px;
	background-color: #000;
}

.col-2{
	width: 360px;
	height: 175px;
	padding: 0px 0px 45px 15px;
}

.col-2 p{
	font-family: 'OpenSans-Regular';
	font-size: 13px;
}

.col-3{
	width: 130px;
	height: 175px;
	font-size: 14px;
}

.col-3 p{
	font-family: 'OpenSans-Semibold'
}

.pagination{
	text-align: center;
	padding-top: 20px;
	font-size: 0;
}

.pagination span{
	font-size: 14px;
	padding: 4px 9px;
}

.pagination span + span{
	margin-left: 3px;
}

.pagination .current{
	background-color: #e65354;
	color: #fff;
}

.pagination .page{
	background-color: #304257;
}

.pagination a{
	color: #fff;
}

.pagination .next, .previous {
	background-color: #304257;

}

.pagination .last, .first{
	background-color: #304257;
}

.btn-active{
	background: #fff;
	border-radius: 50%;
	border: 3px solid #0eac4d;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	color: #000;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	line-height: 20px;
}

.btn-active .active{
	background: #0eac4d;
}

.btn-inactive{
	background: #fff;
	border-radius: 50%;
	border: 3px solid #e65354;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	color: #000;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	line-height: 20px;
}

.btn-inactive .active{
	background: #e65354;
}
