.moderation{
	max-width: 1000px;
	height: auto;
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 70px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc; 
}

.moderation table, td, tr{
	border: 1px solid #ccc;
	margin-top: 20px;
}

.moderation img{
	width: 310px;
	/*height: 175px;*/
	vertical-align: middle;
}

.col-1{
	width: 310px;
	height: 175px;
	background-color: #000;
}

.col-2{
	width: 360px;
	height: 175px;
	padding: 0px 0px 45px 15px;
}

.col-2 p{
	font-family: 'OpenSans-Regular';
	font-size: 13px;
}

.col-3{
	width: 130px;
	height: 175px;
	font-size: 14px;
	background-color: #faf7f7;
}

.col-3 p{
	font-family: 'OpenSans-Semibold'
}

.col-3 a{
	display: block;
}

.pagination{
	text-align: center;
	padding-top: 20px;
	font-size: 0;
}

.pagination span{
	font-size: 14px;
	padding: 4px 9px;
}

.pagination span + span{
	margin-left: 3px;
}

.pagination .current{
	background-color: #e65354;
	color: #fff;
}

.pagination .page{
	background-color: #304257;
}

.pagination a{
	color: #fff;
}

.pagination .next, .previous {
	background-color: #304257;

}

.pagination .last, .first{
	background-color: #304257;
}

.btn-active{
	background: #faf7f7;
	border-radius: 50%;
	border: 3px solid #0eac4d;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.btn-active.active{
	background: #0eac4d;
}

.btn-inactive{
	background: #faf7f7;
	border-radius: 50%;
	border: 3px solid #e65354;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
}

.btn-inactive.active{
	background: #e65354;
}

.moderation span {
	margin-right: 5px;
}

/*@media only screen and (max-width:650px) {

	.moderation{
		background-color: red;
	}
	
}

@media only screen and (max-width:490px) {

	.moderation{
		background-color: green;
	}
	
}*/


table, td, th { 
   border-collapse: collapse;
}
 
 
th { border-bottom-width: 2px; }
tr:nth-child(even){ background-color: #eee; }
 
 
@media (max-width: 768px) {

	table{
		width: 80%;
		margin: 0 auto;
	}

	.col-1{
		height: 100%;
	}

	.col-2{
		height: 100%;
	}
   
	.col-3{
		height: 100%;
	}

   tr {
      display: table;
      width: 100%;
   }
   th {
      font-size: 0;
      border: none;
      visibility: hidden;
   }
   td, th { display: table-row; text-align: center; }
   td:before {
      content: attr(data-headers);
      display: table-cell;     
   }

   .moderation {
  	  width: 100%;
	}
}