.profile { 
    background: none repeat scroll 0 0 #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 560px;
    padding: 30px;
}

.profile .detail-profil ul {
    margin: 0;
}

.profile .detail-profil li:first-child {
	color: #304257;
	font-family: 'OpenSans-Semibold';
	font-size: 1.8em;
	padding: 11px 0;
}
.profile .detail-profil li:not(:first-child){
     border-top: 1px dashed #d0d0d0;
     padding: 10px 0;
}
.profile .detail-profil li:last-child{
	border-bottom: 1px dashed #d0d0d0;
}
.profile .detail-profil ul li:first-child[data-icon]:before{
    color: #e65354;
    padding-right: 10px;
}
.profile .detail-profil{
	display: table;
	margin: 0px auto;
    width: 100%;

}
.profile .detail-profil figure, .profile div .detail-profil ul{
	display: table-cell;
	vertical-align: middle;
}
.profile .detail-profil figure {
	width: 200px;
}

.profile .detail-profil figure img {
	border: 3px solid  #304257;
	width: 200px;

}

.profile .detail-profil label{
	 margin: 0px;
}

.profile .detail-profil ul { 
width: 98%;
}

.profile .detail-profil input{
	width: 186px;
    font-size: 1.3rem;
}

.profile .detail-profil input[type="password"] {
    padding: 2px 4px;
}

.profile #Container {
    padding-left: 0;
}

.profile input[type="submit"]{
	 line-height: 0.6;
	 width: 120px;
	  margin-left: 12px;
}
.profile  .cd-gallery h2{ 
    margin: 42px 0 0 13px;
}
.profile  .cd-gallery ul {
    text-align: inherit;
    width: 109%;
}

.profile .cd-gallery li{
	display: inline-table;
}
.profile .cd-gallery {
	float: none;
	width: 95%;
    padding: 0;
}
.profile .cd-gallery li {
/*    width: 30%;*/
margin: 1%;
    width: 30%;
}



@media only screen and (max-width:1200px){
	
    .profile .detail-profil ul {
    width: 99%;
}
    .profile .detail-profil label {
    /*display: block;*/
    /*margin: 11px 0;*/
}
    .profile input[type="submit"] {
    /*margin-left: 68px;*/
    
}   

}


@media only screen and (max-width:970px){
	

    .profile .detail-profil label {
    display: block;
    margin: 11px 0;
}
    .profile input[type="submit"] {
    margin-left: 0px;
}   
   .profile .detail-profil input {
    width: 100%;

 
}   

}



@media only screen and (max-width:1000px){
     .profile .cd-gallery li{
     width: 46%
     }
}


@media only screen and (max-width:650px) {

	.profile .cd-gallery li{
     width: 98%;	
    }
    .profile .detail-profil figure, .profile div .detail-profil ul{
    	display: inherit;
    	vertical-align: inherit;
    }
    .profile .detail-profil figure{
    	margin: 0 auto;
    }
    .profile .detail-profil figure img {
    	width: 240px;
    }
    .profile .detail-profil ul {
    padding-left: 0;
    }
    .profile .detail-profil input {
    width: 100%;
    }
    .profile input[type="submit"]{
    	margin-left: 0px;
    }
}





