.home section{
	text-align: center;
}
.home figure {
	 margin: 0 auto;
     position: relative;
     max-width: 626px;
}

.home figure div {
	line-height: 0;
    width:100%;
    overflow: hidden;
}
.home figure div  img { 
width: 100%;
}

.home figcaption {
	background: #fff; 
    width: 100%;
    padding: 21px 0 15px;
	
}
.home figcaption h2, .home figcaption h4 {
	display: inline-table;
	font-family: 'Antonio-Regular';
	color: #304257;
	margin: 0;

}
.home button {
	background: #e65354; 
	font-family: 'Antonio-Regular';
	border: none; 
	border-radius: 4px; 
    color: #fff;
    font-size: 20px;
    padding: 14px 140px 7px;
}
.home button:hover {
	background: #d73f40;
}
.home .boutons-avis{
	margin: 55px 0 20px;
}
.home .boutons-avis ul { 
	
	margin: 0 auto; 
    padding-left: 0;
    max-width: 632px;
}
.home .boutons-avis li { 
	background: #304257;
	display: inline-table;
	font-family: 'Antonio-Regular'; 
    border-radius: 4px;
    width: 115px;
    color: #fff;
    padding: 11px 7px 6px 0;
    position: relative;
    margin:0 21px;
}
.home .boutons-avis li span {
	background:#e65354;
	border-radius: 0px 4px 4px 0; 
	color: #fff;
	padding: 12px 9px 5px;
	position: absolute;
    right: 0;
    top: 0;
}

.home .infos-spoiler {
	  margin-top: 11px;
}
.home .infos-spoiler ul {
	margin: 0 auto;
	padding-left: 0;
	max-width:626px;
	position: relative;
}

.home .infos-spoiler li { 
	color: #fff;
	font-family: 'Antonio-Regular';
	position: absolute;
 }

 .home .infos-spoiler li[data-icon]:before{
     padding: 0 7px 0 0;
     vertical-align: middle;
 }

.home .infos-spoiler li span {
	color:#aaaaaa;
	font-size: 0.8em; 
}
.home .infos-spoiler li:first-child{
    left: 0;
}
.home .infos-spoiler li:last-child{
    right: 0;
}
.home p { 
	font-family: 'Antonio-Regular';
	font-size: 1.3em;
}
.home p span { 
	border-bottom: 1px solid #fff;
}
.home p span a {
	color: #fff;
}

@media only screen and (max-width:650px) {
	.home figure{
		padding: 2%;
		/*background: red;*/
	}
	.home .infos-spoiler {
		padding: 0 13px;
	}

	
	
}

@media only screen and (max-width:490px) {
	.home figure{
		/*background: green;*/
	}

	.home .boutons-avis li{
		display: block;
		margin: 13px auto;
		width: 200px;
	}
	.home p {
		font-size: 1em;
		margin-top: 28px;
	}
	.home button {
		padding: 14px 70px 7px;
	}
	

	
	
}





