.home section{
	text-align: center;
}
.home figure {
	 margin: 0 auto;
    position: relative;
    width: 49%;
}
.home figcaption {
	position: absolute;
	bottom: -46px;
	background: #fff; 
	display: table;
	width: 626px;
}
.home figcaption h2, .home figcaption h4 {
	display: inline-table;
	font-family: 'Antonio-Regular';
	color: #304257;

}
.home button {
	background: #e65354; 
	font-family: 'Antonio-Regular';
	border: none; 
	border-radius: 4px; 
    color: #fff;
    font-size: 20px;
    padding: 0.5% 11% 0.5%; 
}
.home button:hover {
	background: #d73f40;
}
.home .boutons-avis{
	 margin: 9% 0 1%;
}
.home .boutons-avis ul { 
	display: table; 
	margin: 0 auto; 
	border-spacing: 32px 0;
	padding-left: 0;
	width: 49%;
}
.home .boutons-avis li { 
	background: #304257;
	display: inline-table;
	font-family: 'Antonio-Regular'; 
    border-radius: 4px;
    width: 20%;
    color: #fff;
    padding: 1% 0%;
    position: relative;
    margin: 0 4%;
}
.home .boutons-avis li span {
	background:#e65354;
	border-radius: 0px 4px 4px 0; 
	color: #fff;
	padding: 5%;
	position: absolute;
    right: 0;
    top: 0;
}

.home .infos-spoiler {
	  margin: 5% 0;
}
.home .infos-spoiler ul {
	margin: 0 auto;
	padding-left: 0;
	width: 49%;
	position: relative;
}

.home .infos-spoiler li { 
	color: #fff;
	font-family: 'Antonio-Regular';
	position: absolute;
 }

 .home .infos-spoiler li[data-icon]:before{
     padding: 0 7px 0 0;
     vertical-align: middle;
 }

.home .infos-spoiler li span {
	color:#aaaaaa;
	font-size: 0.8em; 
}

 
.home .infos-spoiler li:first-child{
    left: 0;
}
.home .infos-spoiler li:last-child{
    right: 0;
}


.home p { 
	font-family: 'Antonio-Regular';
	font-size: 1.3em;
}
.home p span { 
	border-bottom: 1px solid #fff;
}
.home p span a {
	color: #fff;
}








