/* FONT FACE */ 
@font-face {
	font-family: 'Antonio-Bold';
	src: url("fonts/Antonio-Bold.ttf");
}

@font-face {
	font-family: 'Antonio-Regular';
	src: url("fonts/Antonio-Regular.ttf");
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url("fonts/OpenSans-Bold.ttf");
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url("fonts/OpenSans-Regular.ttf");
}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url("fonts/OpenSans-Semibold.ttf");
}


/************* GENERAL **************/

*, *:after, *:before{
	outline: none;
	box-sizing: border-box;
	list-style-type: none;
}

.home{
	background-color: #212830;
}

body{
	background-color: #f0f0ed;
}


/************* NAV **************/

.navbar{
	background: #212830;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #fff;
	height: 75px;
}

.navbar-brand {
	float: left;
	padding: 8px 15px;
}

.nav{
	float: right;
	display: table;
}

.nav li {
	padding-right: 10px;
	display: table-cell;
}

.nav>li>a {
position: relative;
display: block;
}

.nav-meow a:focus, .nav-meow a:hover {
color: #e65354;
text-decoration: none;
}

.home .navbar{
	background: #52575d;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #fff;
	height: 75px;
}

.nav-meow a{
	font-family: Antonio-Bold;
	padding-right: 10px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}

.nav-meow a:hover{
	color: #e65354;
}

.btn-meow1 a{
	font-family: Antonio-Bold;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	background: #e65354 url("../imgs/connecter.png") no-repeat 5% 50%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 35px; 
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-meow1 a:hover{
	background: #d73f40 url("../imgs/connecter.png") no-repeat 5% 50%;
	
}

.btn-meow2 a{
	font-family: Antonio-Bold;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	background: #304257 url("../imgs/inscrire.png") no-repeat 8% 50%;;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 35px; 
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.btn-meow2 a:hover{
	background: #253445 url("../imgs/inscrire.png") no-repeat 8% 50%;;
}

/************* FIN NAV **************/


/*********** Test pour Audrey ************/

.home h1, .home p, .home table{
	color: #fff;
}

h1, p, table{
	color: #000;
}

/***********************/


/*********** Se connecter ************/

.connexion{
	width: 550px;
	height: 320px;
	margin: 0 auto;
	background-color: #fff;
	padding: 80px 150px 0px 150px;
}

.connexion h1{
	font-family: Antonio-Bold;
	font-size: 25px;

}

.connexion input:after{
	width: 39px;
	height: 36px;
	background: url("../imgs/inscrire.png") no-repeat;
}

.connexion ul{
	padding-left: 0px;
}

.connexion ul li{
	padding-bottom: 10px;
}

input[type="submit"]{
	background-color: #e65354;
	color: #fff;
	font-family: Antonio-Bold;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
}

.connexion input[type="submit"]{
	float: right;
}

/*********** FIN Se connecter ************/

