/* FONT FACE */ 
@font-face {
	font-family: 'Antonio-Bold';
	src: url('../fonts/antonio/Antonio-Bold-webfont.eot');
    src: url('../fonts/antonio/Antonio-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/Antonio-Bold-webfont.woff2') format('woff2'),
         url('../fonts/antonio/Antonio-Bold-webfont.woff') format('woff'),
         url('../fonts/antonio/Antonio-Bold-webfont.ttf') format('truetype'),
         url('../fonts/antonio/Antonio-Bold-webfont.svg#antoniobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Antonio-Regular';
	src: url('../fonts/antonio/Antonio-Regular-webfont.eot');
    src: url('../fonts/antonio/Antonio-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio/Antonio-Regular-webfont.woff2') format('woff2'),
         url('../fonts/antonio/Antonio-Regular-webfont.woff') format('woff'),
         url('../fonts/antonio/Antonio-Regular-webfont.ttf') format('truetype'),
         url('../fonts/antonio/Antonio-Regular-webfont.svg#antonioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/opensans/OpenSans-Bold.eot');
    src: url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Bold.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:"nyanspoil";
	src:url('../fonts/icon/nyanspoil.eot?tzih0y');
	src:url('../fonts/icon/nyanspoil.eot?#iefixtzih0y') format('embedded-opentype'),
		url('../fonts/icon/nyanspoil.woff?tzih0y') format('woff'),
		url('../fonts/icon/nyanspoil.ttf?tzih0y') format('truetype'),
		url('../fonts/icon/nyanspoil.svg?tzih0y#nyanspoil') format('svg');
	font-weight: normal;
	font-style: normal;
}

/************* GENERAL **************/

*, *:after, *:before{
	outline: none;
	box-sizing: border-box;
	list-style-type: none;
}

[data-icon]:before{
	font-family: 'nyanspoil';
	content:attr(data-icon);
	speak:none;
	font-weight:400;
	font-variant:normal;
	text-transform:none;
	line-height:0;
	-webkit-font-smoothing:antialiased;
	font-size:20px;
	-moz-osx-font-smoothing:grayscale;
}

button, input[type="submit"]{
	background-color: #e65354;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 12px 10px 7px 10px;
	font-size: 1.4rem;
	font-family: "Antonio-Regular";
}

button, input[type="submit"]:hover {
    background: #d73f40;

}

button.btn2 {
	background: #304257;
}



.home {
	background-color: #212830;
}

body {
	font-size: 1.5rem;
	background-color: #f0f0ed;
	font-family: "Open Sans", sans-serif;
	color: #303030
}

a {
  color: #e10000;
  text-decoration: none;
  transition: all .15s ease-in-out;
}

h2 {
	 font-family: "Antonio-Regular";
	 font-size: 2.3rem;
}




/************* NAV **************/



.navbar{
	background: #212830;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #212830;
	height: 50px;
}

.home .navbar{
	background: #52575d;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #fff;
	height: 50px;
}

@media only screen and (min-width: 768px) {
	
	.navbar, .home .navbar {
		height: 75px
	}
}



.navbar-brand {
	float: left;
	padding: 0px 15px;
	width: auto;
	line-height: 0;
}

.navbar-brand img {
	width: 66px;
	height: auto;
}

@media only screen and (min-width: 768px) {
	.navbar-brand img {
		width: 100px;
	}
}


.btn-burger {
	display: block;
	position: absolute;
    padding: 25px 15px;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    cursor: pointer;
}

.btn-burger #burger {
	display: block;
	position: absolute;
	top: 17px;
}



.btn-burger #croix {
	display: none;
	position: absolute;
	top: 11px;
	left: 16px;
	color: #fff;
}

.btn-burger #croix[data-icon]:before {
	font-size: 20px;
	left: 0;
}


.nav {
	position: relative;
	float: right;
	display: none;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #212830;
	border-bottom: 1px solid #19212b;
	margin-top: 1px;
	z-index: 4;
	margin: 0px 0 24px; /*test*/
}


.nav a {
	font-family: 'Antonio-Bold';
	display: block;
	text-align: center;
	color: #fff;
	padding: 13px 0;
	font-size: 1.5rem;
}

.btn-meow1 a {
	background: #e65354;
	color: #fff;
}

.btn-meow2 a {
	background: #304257;
	color: #fff;
}

.home .nav {
	border-top: 1px solid #fff;
}

.navbar a[data-icon]:before{
	font-size: 26px;
    left: -5px;
    position: relative;
    vertical-align: middle;
}

.navbar .btn-meow2 a[data-icon]:before {
	font-size: 20px;
}


@media only screen and (min-width: 768px) {

	.btn-burger {
	    display: none; 
	}

	.nav {
		display: block!important;
		width: auto;
		margin: 0;
		padding: 8px 0 0 0;
		border-bottom: 0;

	}

	.home .nav {
		background: #52575d;
		border-top: 0;
		padding: 8px 0 0 0;
	}

	.home .nav a {
		color: #fff;
	}

	.nav li {
		padding-right: 10px;
		display: table-cell;
		padding-top: 3px;
		vertical-align: middle;
	}

	.nav li.active {
		text-decoration: underline;
		-moz-text-decoration-color: #fff;
	}

	.nav li.btn-meow1.active, .nav li.btn-meow2.active {
		text-decoration: none;
	}

	.nav>li>a {
		position: relative;
		/*display: block;*/
	}

	.nav-meow a:focus, .nav-meow a:hover {
		color: #e65354;
		text-decoration: none;
	}

	

	.nav-meow a {
		font-family: 'Antonio-Bold';
		padding-right: 10px;
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		height: auto;
	}

	.nav-meow a:hover{
		color: #e65354;
	}

	.btn-meow1 a{
		font-family: 'Antonio-Bold';
		text-decoration: none;
		font-size: 16px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding-left: 16px; 
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		height: auto;
	}

	.btn-meow1 a:hover{
		background: #d73f40;
		
	}

	.btn-meow2 a{
		font-family: 'Antonio-Bold';
		text-decoration: none;
		font-size: 16px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding-left: 20px; 
		padding-right: 10px;
		padding-top: 15px;
		padding-bottom: 15px;
		height: auto;
	}

	.btn-meow2 a:hover{
		background: #253445;
	}

}



/************* FIN NAV **************/

/************* Boite connexion menu **************/

.nav .user p {
	font-family: "Antonio-Bold", sans-serif;
	font-size: 16px;
	color: #fff;
}

.nav .image-profil {
	cursor: pointer;
}

.nav .image-profil figure {
	width: 42px;
	height: 42px;
	border-radius: 30px;
	border: #fff solid 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav .image-profil figure img {
	width: 100%;

}

.nav .boite-menu {
	position: absolute;
	background: #fff;
	border: #cccccc 1px solid;
	width: 210px;
	padding: 15px;
	top: 75px;
	right: 13px;
	color: #212830;
}

.nav .boite-menu.hidden {
	display: none;
}


.nav .boite-menu img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 40px;
}

.nav .boite-menu .boite-sous-menu {
	padding: 0;
	margin-left: 55px;
	padding-left: 10px;
	border-left: 1px solid #c0c0c0;
}

.nav .boite-menu .item-menu {
	display: table;
	padding: 0;
}

.nav .boite-menu .item-menu a {
	color: #212830;
	font-size: 1.3rem;
  	padding: 5px;
}

.arrow-boite {
	position: absolute;
	top: -10px;
  	right: 7px;
	width: 0;
	height: 0;
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}

@media only screen and (max-width: 768px) {
	.nav .user {
		display: none;
	}

	.nav .image-profil figure {
		position: absolute;
		top: 10px;
  		right: 2%;
	}

	.nav .boite-menu {
		top: 65px;
	}
}




/************* End Boite connexion menu **************/




/*********** Test pour Audrey ************/

.home h1, .home p, .home table{
	color: #fff;
}

h1, p, table{
	color: #000;
}

/***********************/


/*********** Se connecter ************/

.connexion{
	position: relative;
	margin: 0 auto;
	margin-top: 5%;
	width: 340px;
	height: auto;
	background-color: #fff;
	padding: 50px 45px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.connexion h1{
	font-family: 'Antonio-Bold';
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 50px;
}

.connexion input[type=text], .connexion input[type=password], .connexion input[type=email] {
	height: 35px;
	padding: 0 0 0 40px;
	width: 100%;
	background: #e6e6e6;
	border: 0;
}

.connexion input[type=text]:focus, .connexion input[type=password]:focus, .connexion input[type=email]:focus {
	background: transparent;
	border: 1px solid #e65354;
}


/*.connexion input:after{
	width: 39px;
	height: 36px;
}*/

.connexion label i { 
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    font-style: inherit;
    background: #212830;
    color: #fff;
}

.connexion label i:before {
	position: absolute;
	top: 18px;
	left: 8px;
}

.connexion ul{
	padding-left: 0px;
}

.connexion ul li{
	padding-bottom: 30px;
}


.connexion input[type="submit"]{
	float: right;

}

p.connexion-error {
	position: absolute;
	bottom: 12px;
	color: #e10000;
	font-size: 1.1rem;
	margin: 0;
	width: 250px;
}

.connexion p:before {
	color: #e10000;
	font-size: 1.2rem;
	font-weight: bold;
	margin-right: 6px;
}

@media only screen and (min-width: 768px) {
	.connexion{
		width: 400px;
}

   

}
/*********** FIN Se connecter ************/




/*********** FOOTER ************/
#footer p {
	text-align: center;
	font-size: 1em;
	padding: 10px 0px 10px;
	margin: 0;
	padding-top: 30px;
	font-family: "Antonio";
}

#articles footer {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	max-width:1000px;
	margin: 0 auto;
}

#profile footer {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	max-width:1000px;
	margin: 0 auto;
}

#moderation footer {
	background: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	max-width:1000px;
	margin: 0 auto;
}		

.articles footer {
	backgound-color: #212830;
}







   





