<!DOCTYPE html>
<html lang="fr">
<head>
	{% include 'MeowBundle::Includes/head.html.twig' %}
</head>
<body>
	{% include 'MeowBundle::Includes/header.html.twig' %}
	{% block content %}{% endblock %}
	{% include 'MeowBundle::Includes/footer.html.twig' %}
</body>
</html>