<!DOCTYPE html>
<html lang="fr">
<head>
	{% set urlBase = path("home") %}
	{% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% include 'MeowBundle::Includes/head.html.twig' %}
</head>
<body {% if currentUrl == urlBase %} class="home" {% endif %}>
	{% include 'MeowBundle::Includes/header.html.twig' %}
	<div>
		{% block content %}{% endblock %}
	</div>
	{% include 'MeowBundle::Includes/footer.html.twig' %}
</body>
</html>