{% extends "MeowBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<section class="connexion">
	<h1>Mot de passe oublié</h1>
	<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
</section>
{% endblock %}
