{% extends "MeowBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<section class="connexion">
	<h1>Mot de passe oublié</h1>
	<p>{{ 'resetting.password_already_requested'|trans }}</p>
</section>
{% endblock fos_user_content %}
