{% trans_default_domain 'FOSUserBundle' %}

<section class="connexion" >
    <h1>Mot de passe oublié</h1>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <ul>
            <li>
                <label for="username"><i data-icon="7"></i></label>
                <input type="text" id="username" name="username" required="required" placeholder="Pseudo ou email" size="30" />
            </li>
            <li>
                <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </li>
            {% if invalid_username is defined %}
                <p class="connexion-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
        </ul>
    </form>
</section>