<header>
	<h1>Nyan spoil</h1>
	<nav>
		<ul>
			<a href="{{ urlBase }}"><li>Accueil</li></a>
			<a href="{{ urlBase }}all-spoils/"><li>Liste des spoils</li></a>
			<a href="{{ urlBase }}new/"><li>Créer un spoil</li></a>
			<a href="{{ urlBase }}inscription/"><li>Inscription</li></a>
		</ul>
	</nav>
	<div class="user">
		<figure>
			<img src="" alt="">
		</figure>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</header>