<meta charset="UTF-8">
<title></title>
<meta name="description" content="">
<meta name="author" content="Agence Meow">
<meta name="copyright" content="Nyan Spoil">
<meta name="keywords" lang="fr" content="nyan, manga, spoil">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">

<!-- BOOTSTRAP STYLES -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{{ asset('_assets/css/style.css') }}">

<!-- BOOTSTRAP SCRIPTS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- STYLES -->


<!-- SCRIPTS -->
