<header>
	<h1>Nyan spoil</h1>
	<button class="btn-nav hidden">Menu</button>
	<nav>
		<ul>
			<a href="{{ path("home") }}"><li>Accueil</li></a>
			<a href="{{ path("home") }}all-spoils/"><li>Liste des spoils</li></a>
			<a href="{{ path("home") }}new/"><li>Créer un spoil</li></a>
			<a href="{{ path("home") }}inscription/"><li>Inscription</li></a>
		</ul>
	</nav>
	<div class="user">
		<figure>
			<img src="" alt="">
		</figure>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</header>